*{
  margin: 0;
  padding: 0;
}
h1{
    color:black;
    text-align: center;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 20px 0;
    margin-bottom: 10px;
}
input{
    background-color: bisque;
    border: 0;
    width: 180px;
    height: 40px;
    padding: 0 20px;
    margin: 10px;
    border-radius: 10px;
}
button{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: 0;
    background-color:#1E90FF;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}

.delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}